[submodule "tokens/lib/forge-std"]
	path = tokens/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tokens/lib/openzeppelin-contracts"]
	path = tokens/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
